*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    //THIS DEFINE WHAT 1RAM IS
   font-size: 62.5;
}
body{
    box-sizing: border-box;
    background-image: url("/assets/images/email-pattern.png");
}

a, a::after, a::before, a:hover{
    text-decoration: none;
    color: black;
}