@media (max-width: 1000px){
 
    .proyect{
       width: 100%;
        height: 600px;
        margin: 10px;
        background: white;
        float: left;
        border-radius: 10px;
        position: relative;
    
    }


}