$primary-heading-background-color: #4aaaa5;
$main-color: #4aaaa5;

$general-font-color: #777777;
$heading-font-color-white: #ffffff;
$white: white;


$main-header-background: #ffffff;
$main-header-border: #cccccc;
$footer-baackground-color: #666666;
$main-content-background: #ffffff;
$main-content-border: #dddddd;

$heading-font: 'Georgia', Times, Times New Roman, serif;
$general-heading: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;