.main-container{
    max-width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 100px;
    background: $main-content-background;
    border: 1px solid $main-content-border;
    padding-bottom: 30px;
    

 }

 .main-container::after{
    content: "";
    display: block;
    clear: both;

 }