.main-heading-h1{
    color: $primary-heading-background-color;
    padding: 20px;
    border: 10px solid transparent;
    margin: 10px;
}
 .hr-80{
   margin: 10px auto;
   padding: 1px;
   background: gray;
   border-radius: 10px;
   max-width: 80%;
}

.bladimir-image{
  
  width: 200px;
  height: 200px;
  border: 5px solid $primary-heading-background-color;
  border-radius: 20px;
  float: left;
  margin: 10px;
  
 
 
 }

 .description{

 padding: 10px;
 margin: 10px;
  
  
      
 }