.main-heading-h1{
    color: $primary-heading-background-color;
    padding: 20px;
    border: 10px solid transparent;
    margin: 10px;
    letter-spacing: 5px;
    text-transform: uppercase;
}
 .hr-80{
   margin: 10px auto;
   padding: 1px;
   background: gray;
   border-radius: 10px;
   max-width: 80%;
}
.container-bladimir-image{
 max-width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 10px 100px 100px 100px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transition: all 1s;
}
.container-bladimir-image:hover{
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to right bottom,
  rgb(0, 208, 255),
  rgb(11, 255, 251));
}
.bladimir-image{
  
  width: 200px;
  height: 200px;
  border-radius: 200px;
  
  margin: 10px;
  
 
 
 }

 .bladimir-image:hover{
   transform: translateY(-10px);
 }
.welcome-message{
  letter-spacing: 5px;
  font-size: 50px;
  background-image: linear-gradient(to right,
  rgba(254, 0, 0, 1),
  rgba(98, 150, 25, 1));
  -webkit-background-clip: text;
  color: transparent;
}
 .description{

 padding: 10px;
 margin: 10px;
  
  
      
 }
 .text-container{
   width: 100%;
   float: left;
  margin:  .5rem;
 }

 .side-bar{
   width: 49%;
   float: left;
   margin:  .5rem;
   text-align: center;
 
 }

 

 .view-my-work{
   padding: 20px;
   letter-spacing: 5px;
   text-transform: uppercase;
 }

 .btn-main{
   background: $main-color;
 }

 .tools{
  max-width: 95%;
  margin: 100px auto;
clear: both;
text-align: center;
letter-spacing: 5px;
font-size: 30px;
 }
.tools-heading{
padding: 20px;

}

.tools-name{
  width: 30%;
  height: 400px;
  margin: 10px;
  background: whitesmoke;
  float: left;
  border-radius: 10px;
 letter-spacing: 3px;
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
  
}

.tools-name:hover{
  background: $main-color;
}
.title{
  padding: 20px;
}
.card-image{

  width: 100%;
  height: 200px;
  border-top-right-radius: 10px; 
  border-top-left-radius: 10px; 
}

.card-footer{
  width: 100%;
  height: 50px;
  background: $main-color;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}