.greeting{
  font-size: 20px;
  color: black;
}
.mornig{
  color: rgb(43, 25, 25);
}
.afternoon{
  color: rgb(255, 255, 0);
}
.night{
  color: rgb(174, 174, 25);
}
.header{
  height: 100vh;
 background-image: linear-gradient(to right bottom,
 rgba(63, 53, 53, 0.7),
 rgba(92, 75, 75, 0.7)), url("/assets/images/logo-black.png");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
//clip-path: polygon(0 0,100% 0,100% 90%,0 100%);
padding-bottom: 100px;
color: white;


}
.introduction{
  margin-bottom: 20px;
}
#me-image{

  border-radius: 100px;
  
    display: block;
    
    margin-top: 20px;
}
.card-image{
  background-image: linear-gradient(to right bottom,
  rgb(235, 48, 5),
  rgb(255, 47, 0));
  margin-top: 10px;
  //clip-path: polygon(20% 0,100% 0,100% 60vh,0 100%);
 

}
.skills{
  background-image: linear-gradient(to right bottom,
  rgb(255, 255, 255),
  rgb(255, 255, 255));
  padding: 20px;

}

.work{
  background: gainsboro;
  padding: 20px;
}
.icons-card{
  height: 200px;
  

  border-radius: 10px;
  text-align: center;
  
}
.colored{
  font-size: 100px;
}


.whatsappTextarea{
  resize: none;
  outline: none;
  color: black;
  height: 200px;
  padding: 10px;
  
}
 

 
