.proyects{
    max-width: 95%;
    margin: 100px auto;
    padding: 10px;
   
  
    
}
.proyects::after{
    content: "";
    display: block;
    clear: both;
}
.proyect{
    width: 30%;
    height: 400px;
    margin: 10px;
    background: white;
    float: left;
    border-radius: 10px;
    position: relative;
    transition: all .2s;

   &:hover{
       transform: translateY(-10px);
       box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
   }

   &:active{
    transform: translateY(-3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

    
    &-1{
        background-image: linear-gradient(to right bottom,
        rgba(10, 11, 11, 0),
        rgba(235, 13, 183, 0)

        ), url("https://media-public.canva.com/MADGvh8ZuBU/7/screen_2x.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }

    &-2{
        background-image: linear-gradient(to right bottom,
        rgba(10, 11, 11, 0),
        rgba(235, 13, 183, 0)

        ), url("https://media-public.canva.com/MADGx-E3QHs/4/screen_2x.jpg");

    }
    &-3{
        background-image: linear-gradient(to right bottom,
        rgba(10, 11, 11, 0),
        rgba(235, 13, 183, 0)

        ), url("https://images.unsplash.com/photo-1432888622747-4eb9a8efeb07?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");

    }
    &-4{
        background-image: linear-gradient(to right bottom,
        rgba(10, 11, 11, 0),
        rgba(235, 13, 183, 0)

        ), url("https://images.unsplash.com/photo-1432888622747-4eb9a8efeb07?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");

    }
    &-5{
        background-image: linear-gradient(to right bottom,
        rgba(10, 11, 11, 0),
        rgba(235, 13, 183, 0)

        ), url("https://images.unsplash.com/photo-1432888622747-4eb9a8efeb07?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");

    }
   
  &-header-1{
      width: 100%;
      background-image: linear-gradient(to right bottom,
      rgba(0, 255, 255, 0.975),
      rgba(8, 20, 43, 0.5)

      );
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -98%);
    
        }

        &-title{
            background-image: linear-gradient(to right,
            rgba(233, 0, 245, 0.5),
            rgba(0, 0, 0, 0.5) );
            display: block;
            -webkit-background-clip: text;
            color: transparent;
            letter-spacing: 0.2rem;
            font-weight: bold;
        }
}

